@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,200&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}
header{
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/portada.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 600px;
}

.menu{
	position: fixed;
	right: 0;
	top: 0;
	background-color:#3d4042;
	margin: 5px 0 0 0;
	border-radius: 4px 0px 0px 4px;
}

.menu i{
	color:#c8c8c8;
	font-size: 30px;
	cursor: pointer;
	padding: 10px;
}

.fasoli{
	font-size: 80px;
	font-weight: 500;
	text-align: center;
	color: white;
	padding: 20px;
	padding-top: 200px;
	line-height: 80%;
	font-family: 'Heebo', sans-serif;
	letter-spacing: 1px;
}
.analista{
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-align: center;
	color: #94a3ba;
	padding: 20px;
	padding-bottom: 70px;
	line-height: 80%;
	letter-spacing: 3px;
}
header img{
	border-radius: 50%;
	border: 10px solid white;
}
.fotopersonal{
	text-align: center;
	width: 100%;
	margin-top: 75px;
	position: absolute;
}
.section1{
	margin-top: 240px;
}
.sobremi{
	width: 60%;
	margin: auto;
}
.sobremi h3{
	padding: 20px 0 20px 0;
	font-size: 28px;
	font-weight: 600;
	border-bottom: 2px solid red;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
}
.sobremi i, .formacion i, .experiencialaboral i, .objetivo i{
	padding-right: 10px;
}
.sobremi p{
	padding: 40px 0 20px 0;
}

.section2{
	margin-top: 130px;
}

.section2bis{
	margin-top: 130px;
}

.formacion{
	width: 60%;
	margin: auto;
}

.formacion h3{
	padding: 20px 0 20px 0;
	font-size: 28px;
	border-bottom: 2px solid red;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
}

.listaformacion{
	padding-top: 40px;
	display: flex;
	flex-direction: column;
}

.carta{
	padding: 20px 0 20px 0;
}

.idiomas{

	padding: 10px 0 20px 0;

}

.idiomas p{
	padding-bottom: 5px;
}
.listaformacion .esp,
.listaformacion .por,
.listaformacion .fr{
	width: 230px;
	height: 10px;
	background-color: #3d4042;
}

.esp .espin{
	width: 230px;
	height: 10px;
	background-color: red;
}

.por .porin{
	width: 100px;
	height: 10px;
	background-color: red;
}

.fr .frin{
	width: 50px;
	height: 10px;
	background-color: red;
}

.section3{
	padding-top: 80px;
}

.sectionobjetivo{
	margin-top: 130px;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/objetivo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	color: white;
}

.objetivo{
	width: 60%;
	margin: auto;
}

.objetivo h3{
	padding: 30px 0 20px 0;
	font-size: 28px;
	font-weight: 300;
	border-bottom: 2px solid red;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
}
.sectionobjetivo p{
	width: 95%;
	margin: auto;
	padding: 70px 0 70px 0;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	text-align: center;
	font-style: italic;
}
.experiencialaboral{
	width: 60%;
	margin: auto;
	padding-bottom: 30px;
}
.experiencia{
	font-size: 28px;
	font-family: 'Montserrat', sans-serif;
	color: black;
	border-bottom: 2px solid red;
	padding: 20px 0 20px 0;
	letter-spacing: 2px;
}
.experiencia:hover{
	cursor: pointer;
}

.section4{
	margin-top: 100px;
}

.pasatiempos{
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
}

.pasatiempos i{
	margin-right: 5px;
}

/*.activo{
	display: none;
}*/

.timeline-section{
	background-color: white;
	min-height: 100vh;
	padding: 60px 15px;
}

.timeline-items{
	max-width: 1100px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: red;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: red;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 18px;
	color: red;
	margin:6px 0 15px;
}
.timeline-content{
    /*background-color: #2f363e;*/
	background-color: #3d4042;
	padding: 30px;
	border-radius: 5px;
}
.timeline-content h3{
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	/*text-transform: capitalize;*/
	font-weight: 500;
}
.timeline-content p{
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

.pasatiempos h5{
	font-size: 16px;
	font-weight: 400;
}

footer{
	background-color: #3d4042;
	color: #c8c8c8;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin-top: 50px;
}

footer h4{
	padding: 20px;
}

.contacto{

	display: flex;
	flex-direction: column;
	

}

footer p{
	padding: 10px;
	font-size: 16px;
}
.contacto i{
	margin-right: 10px;
}


/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}